<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="myConnectionString"
	        connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SMC_Database;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>

		<services>

			<service name="Backend_Service.AccountService" behaviorConfiguration="AccountServiceBehavior">
				<endpoint address="AccountService" 
						  binding="basicHttpBinding" 
						  contract="Backend_Service.IAccountService">
				</endpoint>
				<endpoint address="mex" 
						  binding="mexHttpBinding" 
						  contract="IMetadataExchange">
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080"/>
					</baseAddresses>
				</host>
			</service>

			<service name="Backend_Service.ContactService" behaviorConfiguration="ContactServiceBehavior">
				<endpoint address="ContactService" 
						  binding="basicHttpBinding" 
						  contract="Backend_Service.IContactService">
				</endpoint>
				<endpoint address="mex" 
						  binding="mexHttpBinding" 
						  contract="IMetadataExchange">
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8081"/>
					</baseAddresses>
				</host>
			</service>

			<service name="Backend_Service.GroupService" behaviorConfiguration="GroupServiceBehavior">
				<endpoint address="GroupService"
						  binding="basicHttpBinding"
						  contract="Backend_Service.IGroupService">
				</endpoint>
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange">
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082"/>
					</baseAddresses>
				</host>
			</service>
			
		</services>

		<behaviors>
			<serviceBehaviors>

				<behavior name="AccountServiceBehavior">
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>

				<behavior name="ContactServiceBehavior">
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>

				<behavior name="GroupServiceBehavior">
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
				
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>

</configuration>
