<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>

	<system.serviceModel>
		<bindings>
			
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IAccountService"/>
				<binding name="BasicHttpBinding_IGroupService"/>
				<binding name="BasicHttpBinding_IContactService"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8080/AccountService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
			contract="AccountServiceReference.IAccountService" name="BasicHttpBinding_IAccountService"/>
			<endpoint address="http://localhost:8082/GroupService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGroupService"
			contract="GroupServiceReference.IGroupService" name="BasicHttpBinding_IGroupService"/>
			<endpoint address="http://localhost:8081/ContactService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactService"
			contract="ContactServiceReference.IContactService" name="BasicHttpBinding_IContactService"/>
		</client>
	</system.serviceModel>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
</configuration>
